
#db - grab a temp db from https://neon.new
    DATABASE_URL=
#next
    NEXT_PUBLIC_BASE_URL=http://localhost:3000
#posthog
    NEXT_PUBLIC_POSTHOG_KEY=p=
    NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
#better auth
    BETTER_AUTH_SECRET=
    BETTER_AUTH_URL=http://localhost:3000

#github/dev
    GITHUB_CLIENT_SECRET=
    GITHUB_CLIENT_ID=
#unkey
    UNKEY_ROOT_KEY=
#discord
    NEXT_PUBLIC_DISCORD_INVITE_URL="https://discord.gg/mw5asFzwA6"
    DISCORD_WEBHOOK_URL=""

#marble
    NEXT_PUBLIC_MARBLE_API_URL="https://api.marblecms.com"
    MARBLE_WORKSPACE_KEY=
