node_modules
.turbo
.vercel
/.cursor
/.vscode
/.grim

.env
*.env
apps/server/_.env.local

# CLI config
better-env.json
/apps/server
/packages/dev-logger/dist
/.kiro
/.crush
AGENT.md
CODEBASE_RULES.md
*.tsbuildinfo
/packages/cli/dist
/packages/cli/dist
packages/cli/dist/index.js
